build/
.vscode/
/bin
*.obj
/.vs
/x64/Debug
/sunset-beach-delivery-service.vcxproj.user
/sunset-beach-delivery-service.vcxproj.filters
/sunset-beach-delivery-service.vcxproj
/sunset-beach-delivery-service.sln
/CppProperties.json
/x64/Release
/src/platform/windows/SoundManager.cpp.old
/src/platform/windows/SoundManager.cpp.old.bak
/src/platform/windows/SoundManager.hpp.bak
/sunset-beach-delivery-service.vcxproj.bak
